[2011-09-06 15:14] akerd opened #1 "ELF file is unknown version"
Hi konrad, I just tried to download and use the current version of your ElfShap library, but when I try to open a valid ELF I get the error "Given ELF file is of unknown version 16777216."

I know that there are different version of ELF / DWARF so maybe this is an issue. Unfortunately I cannot provide you the ELF file, but if you give me some indications I would be happy to help.

[2011-09-12 10:21] #1 closed, assigned to nobody

[2012-04-10 20:19] konrad-kruczynski opened #2 "Cannot open ELFs with not unique section names"
Apparently this is at least acceptable.

[2012-04-10 20:32] #2 closed, assigned to nobody

[2012-06-23 08:39] konrad-kruczynski opened #3 "Cannot load shared object ELF with program headers."

[2012-06-23 08:57] #3 closed, assigned to konrad-kruczynski

[2012-10-24 10:49] konrad-kruczynski opened #4 "Add ToString() to ELF class"

[2012-10-25 06:58] PiotrZierhoffer opened #5 "Add ARM entry to ElfSharp.Machine"

[2012-11-10 15:10] konrad-kruczynski opened #7 "Make examples from the webpage unit tests"

[2012-11-10 15:10] #5 closed, assigned to nobody

[2012-11-10 15:26] #4 closed, assigned to konrad-kruczynski

[2012-12-06 12:00] konrad-kruczynski opened #8 "ELFWriter stubs"

[2013-05-22 08:39] konrad-kruczynski opened #9 "NullReferenceException on an ELF with all things stripped"
Use `strip --strip-all`.

[2013-05-22 09:22] konrad-kruczynski opened #10 "Support for the uboot's uImage"

[2013-07-01 12:45] mateusz-holenko opened #11 "Testing file"
Method for testing if a given binary is proper ELF would be nice.

[2013-07-08 12:16] scotty123 opened #12 "FeatureReq: enhance the "enum Machine""
Please enhance the "enum Machine" with these Architectures:
6 Intel 80486
36 Renesas V800 series
37 Fujitsu FR
40 ARM
42 Hitachi SH
44 Infineon TriCore
52 Motorola ColdFire
54 Motorola MCore
58 Motorola StarCore
60 STMicroelectronics ST100
78 Broadcom FirePath
88 Renesas M32R
106 ADI Blackfin

Thanks!

[2013-08-15 09:40] pinki opened #13 "dwarf support"
It would be great if you would implement a way to explore dwarf information within the .debug sections.

[2013-08-28 11:14] #11 closed, assigned to nobody

[2013-08-28 13:37] #12 closed, assigned to nobody

[2013-08-28 14:35] konrad-kruczynski opened #14 "XML documentation"

[2013-08-29 11:47] #7 closed, assigned to konrad-kruczynski

[2013-09-03 13:28] konrad-kruczynski opened #15 "UImage: multi file image support"

[2013-09-04 22:58] navaro opened #17 "Please make "filesize" of the “Segment” class public."
Konrad,
Thank you , this certainly is an excellent library!
I use it to parse and upload elf files to an ARM processor.
Can you make the "filesize" of the “Segment” class public? There is no need to program a segment of zero file size because it usually gets initialized by the boot code.
Thank you,
Natie.

[2013-09-05 10:29] #17 closed, assigned to nobody

[2013-10-28 08:23] konrad-kruczynski opened #19 "UImage: gzip support"

[2013-10-28 15:13] #19 closed, assigned to konrad-kruczynski

[2013-12-03 12:45] #10 closed, assigned to konrad-kruczynski

[2014-12-05 09:15] #9 closed, assigned to konrad-kruczynski

[2015-02-24 17:33] luk32 opened #24 "`ELFReader.Load<uint>()` fails after trying to access a table that is null."
When loading a [ELF file](https://drive.google.com/a/antmicro.pl/file/d/0BxQ7v9lDkvRgdWRmY1VST0x2TUE/view?usp=sharing) during `ReadSections()`, `FindStringTables()` sets `dynamicStringTable` to `null`. Then during the loop performing `TouchSection`, `GetSectionFromSectionHeader()` there is a case where `header.Type` is `SectionType.DynamicSymbolTable`.

The null `dynamicStringTable` is passed to `

[2015-02-25 12:35] konrad-kruczynski commented on #24
Since readelf on this file outputs:

	  0 Symbol table '.dynsym' contains 12 entries:
	  0    Num:    Value  Size Type    Bind   Vis      Ndx Name
	  0      0: 00000000     0 NOTYPE  LOCAL  DEFAULT  UND <corrupt>
	  0      1: 00108000     0 SECTION LOCAL  DEFAULT    1 <corrupt>
	  0      2: 00175170     0 SECTION LOCAL  DEFAULT    5 <corrupt>
	  0      3: 0017b608     0 NOTYPE  GLOBAL DEFAULT    8

[2015-02-25 12:36] #24 closed

[2015-03-13 21:15] konrad-kruczynski commented on #8
Closing for now.

[2015-03-13 21:15] #8 closed

[2015-03-13 21:16] konrad-kruczynski opened #26 "Mach-O support"
For the beginning:
* listing symbols (for shared objects)
* entry point
* segments to load

[2015-04-23 23:21] masterofjellyfish opened #27 "Provide Access to the Section Header"
At the moment, one cannot access the section header via API. If I want to get, for example, the file offset of a Section, I currently have to use reflection to get that:

[code]

This just doesn't feel right.

[2015-04-27 19:53] konrad-kruczynski commented on #27
Hey, you're right. But generally most of the properties that can be obtained from section header are accessible from the `Section<T>` class. Note that header always contains "widest" data type for the given property while section converts it to type of the concrete ELF. `Offset` however is not - yet - available. But I'm happy to add it. Would such solution satisfy you? Other missing properties cou

[2015-04-27 20:15] masterofjellyfish commented on #27
Hey,

if you wrap it like the other properties, that's totally fine. I need it to map the loaded section offsets (read: xrefs) to file offsets, so, getting that via the section header is totally fine.

[2015-05-01 16:51] konrad-kruczynski commented on #27
Hi, I've finally added the Offset property to `ELF<T>` class :)

[2015-05-01 16:51] #27 closed

[2015-05-01 17:05] masterofjellyfish commented on #27
awesome thanks :)

[2016-03-22 10:02] Awesomeclaw opened #28 "Program Header Loading"
Hello,
I'm trying to use ELFSharp to load program binaries for an instruction set simulator. However, part of the program loading sequence involves loading the raw program header data into memory. I see that there are methods to access program header information, but there doesn't seem to be any which allow you to access the data directly. Is this currently possible with ELFSharp? If not, is this

[2016-03-22 13:25] konrad-kruczynski commented on #28
Hi! I'm happy you've found some use for the library. Regarding your question: it can be done, but I have to understand specific requirement. I presume that program header is something that is called `Segment` by me. In that case I would normally use code like this to load them:

[code]
Is that something that is not sufficient for you?

[2016-03-22 13:49] Awesomeclaw commented on #28
Hi,

Although I've managed to load the contents of the segments into memory, I'd like to be able to load some of the actual binary ELF data as well. I think the exact data I want is called the 'Segment Header' in the ELFSharp library.

Thanks!

[2016-03-23 10:08] konrad-kruczynski commented on #28
OK, now I get it. I think it won't be a problem. I would first like to finish my initial work on Mach-O support (there is a branch I want to merge) and then I will be able to do it - which should be near the end of the week.

[2016-03-27 13:36] #26 closed

[2016-03-29 19:52] konrad-kruczynski commented on #28
It took some more time than I thought, but I finally have initial Mach-O support and get to your issue. I hope that you're still interested ;)

[2016-03-30 21:06] #28 closed

[2016-03-30 21:09] konrad-kruczynski commented on #28
The necessary function is called `GetRawHeader`.

[2016-04-26 12:32] csholmq opened #29 "Ambiguous calls"
Trying out a simple example, using VS Express 2015 and targeting .NET 4.5:

[code]

But I can't seem to get past this weird "call is ambiguous". The calls look identical to me.

Any idea on what this could be?

[2016-04-26 13:48] csholmq commented on #29
Found the issue. Latest version (0.1.0) on NuGet is the LinqBridge release. I uninstalled and installed 0.0.11 instead.

@konrad-kruczynski Would you mind releasing a new (non LinqBridge) version to NuGet?

[2016-04-27 08:01] konrad-kruczynski commented on #29
I see. There should be such version, but maybe it is wrongly packed. Anyway, I plan to drop the support for the LinqBridge version since it is not really updated and I do not have time to maintain it. I'll try to look at this today but since the week has been quite busy so far it might as well happen by the end of it. Stay tuned :)

[2016-04-27 08:06] konrad-kruczynski opened #30 "Implement semantic versioning for nuget package"
It does not make any sense now.

Also version assemblies according to this article: https://codingforsmarties.wordpress.com/2016/01/21/how-to-version-assemblies-destined-for-nuget/

[2016-04-27 13:56] csholmq commented on #29
Dropping LinqBridge should work. Don't know anyone running < 3.0.

[2016-04-27 13:56] #29 closed

[2016-04-27 14:05] csholmq commented on #13
+1

Similar to what you get if you type `ptype YourVariable` in gdb, it would be awesome to be able to first extract all variables (in my case the global ones) and then the corresponding type definitions. I have a lot of nested structs and would like to build a complete tree in my application.

E.g. for a single level typedef struct applied to variable `Temp_Data`.

[code]

[2016-04-30 08:43] konrad-kruczynski opened #31 "Reference MiscUtil as a package instead of embedding it"

[2016-04-30 08:56] #30 closed

[2016-04-30 08:56] #31 closed

[2016-04-30 10:11] konrad-kruczynski commented on #29
The newest package is in the nuget gallery now.

[2016-05-01 19:51] konrad-kruczynski commented on #13
I see. Naturally, extracting only globals' names is possible even now, just with a list of symbols. Going further needs some coding and, as you can see, my expectations about free time I could spend on this task were not met. @csholmq Do you plan to work on this? If that's the case, I could probably do some initial work, like getting the DWARF data from ELF, parsing some headers etc.

[2016-05-01 19:55] csholmq commented on #13
That would be great. I need to get familiar with both the ELF format and your codebase. So if you could do some basic extraction and parsing of the Dwarf data that would be super and I could probably take it a bit further.

[2016-05-01 19:58] konrad-kruczynski commented on #13
OK, I'll try to do it as soon as possible (which won't be very soon ;)). The codebase is, frankly, quite dated but the only interesting part from your point of view will probably be the part that extracts DWARF so it should not be a problem.

[2016-05-12 19:16] konrad-kruczynski commented on #13
Hi, I finally had some time to look at this issue. It turns out that the DWARF data is actually available in a few sections, whose names usually start with "debug" (`.debug_info` for instance). This means that there is probably nothing to do with "my" part as described below, since you can jest get those sections by name and then get their contents as a byte array using `GetContents` method. What

[2016-05-12 19:30] csholmq commented on #13
Yes, it was actually the byte parsing I sought after. Needed to whip up a parser for work. So in the meantime I grab the output from `gdb` and parse that instead. Not sure if I'll go down this path, unfortunately. But if I do, I will probably use this plugin.

[2016-05-13 13:26] csholmq commented on #13
Actually, might have to back on this. Just finished my parser and the performance from GDB is terrible. I ask for all global variables and the typedefs => 6s which is fair enough. But then I flesh out all my variables (arrays and struct members) and ask for their addresses => 36s... I'll probably start to look at this in a couple of weeks.

[2016-05-15 15:32] bastianeicher opened #32 "Strong-named assembly in NuGet package"
It would be great if you could add a [strong-named](https://msdn.microsoft.com/en-us/library/wd40t7ad) assembly to the NuGet release of the library. That way ELFSharp could be referenced in projects that are themselves strong-named.

[2016-05-17 16:58] konrad-kruczynski commented on #32
Good point, why not. I'll try to take care of this soon.

[2016-05-21 08:46] konrad-kruczynski commented on #32
Maybe not so soon, but eventually done :)

[2016-05-21 08:46] #32 closed

[2016-05-21 10:39] bastianeicher commented on #32
Awesome, thanks. :)

I'll be re-targeting the [Zero Install Publishing Tools](https://0install.de/docs/publishing/tools/) to .NET 4.0 using your new NuGet release soon.

[2016-08-17 23:33] tathanhdinh opened #33 "How to get offset of a segment?"
Hi everyone,
I am trying to figure out how to get the file offset of a segment in an ELF. I observe that the field `offset` in `Segment` has `private` attribute, so the only way to get `offset` is to parse again the header of this segment? Is there some reason to make `offset` as `private`?
Many thanks.

[2016-08-18 12:18] konrad-kruczynski commented on #33
It can be done, no problem, I just have to find some time to do it - which should happen soon.

[2016-08-18 12:25] konrad-kruczynski commented on #33
Alternatively you can code the proposed solution and send here as a PR.

[2016-11-02 15:06] csholmq commented on #13
I just uploaded my [ElfParser project](https://github.com/csholmq/ElfParser) if anyone is interested. Works for a subset of the Dwarf2 standard (extracts type and address for variables, arrays and structs), at least using GCC.

Might work for later Dwarf standards but I currently don't have any ELF files to test with.

[2016-11-06 18:24] konrad-kruczynski commented on #33
It's now done and available on nuget.

[2016-11-06 18:24] #33 closed

[2016-12-16 12:48] konrad-kruczynski commented on #13
Great news! I'll try to finally find some time to look at the project in the new year :)

[2017-01-30 14:13] csholmq opened #34 "Extract pointer size"
I am trying to extract information regarding the target platform from the ELF file. `Architecture`, `Endianess` and `EntryPoint` are all easy to grab. But what about pointer size?

E.g `Class` only takes values `Bit32` or `Bit64`, so I assume that isn't it since it doesn't cover 16 bit architectures.

[2017-01-31 21:02] konrad-kruczynski commented on #34
Interesting question. I would say that originally the ELF format was designed for 32 bit platforms and later extended for 64 bit ones. But it may be that it was later fitted for smaller (e.g. embedded architectures). Perhaps you have a sample file for such architecture (or at least an architecture so I could look up some specifications).

[2017-01-31 21:44] csholmq commented on #34
So it seems. Bit odd.

No, I don't have an ELF aimed towards a 16 bit system at hand right now. I will look for one though.

[2017-02-02 21:26] csholmq commented on #34
I got a hold of an ELF for a DSP56 16 bit processor. It appears to be listed as Bit32.

Also, could only find a single .debug sector. Weird.

[2017-02-02 21:26] #34 closed

[2017-08-06 13:09] southpolenator commented on #13
Ah, of course I stumble upon this page after I've already implemented DWARF parser. Although it works on top of PEImage (uses PEImage to extract byte streams), I'll try to see how it behaves with your nice project for ELF images :)
You can find it at [DWARF Symbol provider](https://github.com/southpolenator/WinDbgCs/tree/Dwarf/Source/CsDebugScript.DwarfSymbolProvider). If you have suggestions on w

[2017-08-14 20:38] konrad-kruczynski commented on #13
I've just taken a glance, but it looks promising. The DWARF standard is vast, so it is quite hard to cover a lot, but it seems that you did some important parts. From what I can see, you've already added ELF support to your project. Does it work nicely?

[2017-08-15 19:09] southpolenator commented on #13
It appears to work very nicely :)
There is a bug with .note segment in ELF core dump. File size is ~4096, while Size is 0, so Array.Copy throws exception when calling ISegment.GetContents...

[2018-01-06 21:38] konrad-kruczynski commented on #13
Hi southpolenator,
after having to suspend development due to being really busy I am finally starting to get back to the project. So, regarding this issue:
- is it still relevant - i.e. do you still use my project and the issue is blocking something?
- does it happen with any .note segment?

[2018-01-08 11:57] southpolenator commented on #13
I'm still using this project for reading elf files and elf core dumps :)
Luckily, it is not blocking since in try catch block, I decided to fall back to directly read file content (which might not work in all cases): https://github.com/southpolenator/WinDbgCs/blob/MovingToCore/Source/CsDebugScript.DwarfSymbolProvider/ElfCoreDump.cs#L245
And, yes, this happens when parsing .note segment (you can se

[2018-01-20 11:46] konrad-kruczynski opened #36 "Migrate to .NET Standard 2.0"

[2018-01-20 14:27] konrad-kruczynski opened #37 "Reimplement functionality provided by MiscUtil"
It is not available for the .NET Standard 2.0 and ELFSharp only uses some pieces out of the whole library, so it would be nice to actually implement the necessary functionality directly.

[2018-01-20 14:28] konrad-kruczynski commented on #13
Since the issue you have is non blocking, my plan is to first migrate the project (already done) and tests (not yet) to .NET Standard 2.0 (#36), reimplement MiscUtil (#37) and then get back to your issue. But the good news is that I plan to spend some regular time on ELFSharp every two to for weeks.

[2018-01-21 13:21] konrad-kruczynski commented on #36
Done.

[2018-01-21 13:21] #36 closed

[2018-01-25 22:15] Evmaus-MS opened #39 "ELFSharp NetStandard Package includes netstandard .dlls"
Hey:

It looks like due to an issue with NuGetizer (https://github.com/NuGet/Home/issues/6270), the entire netstandard set of libraries is included in the NuGet package.  This isn't an issue if you're consuming the library via .NET Core, but it will cause numerous build conflicts with the standard libraries if you try to consume the library in .NET 4.6.1 (which should be possible).

It should be p

[2018-01-27 22:17] konrad-kruczynski commented on #39
Very good point. I didn't notice that the package weights about 3MB which should be suspicious on its own. However, I have just tried using `dotnet pack` and the result is somewhat smaller (1.9MB), but still contains a lot of libraries. Is it the result you expected?

[2018-01-30 00:57] Evmaus-MS commented on #39
Not quite--I'd expect the NuGet to just contain ELFSharp.dll.

I just double checked--you have to remove the NuGetizer reference completely to get the NuGet package with just the .dll.

[2018-01-30 21:29] konrad-kruczynski commented on #39
Turns out that I didn't really understand your comment with NuGetizer. Thanks for the comment, I've just uploaded fixed package (version 1.1.1).

[2018-01-30 21:29] #39 closed

[2018-01-30 23:11] Evmaus-MS commented on #39
Awesome--works great now with Net 4.6.1 (as well as .Net Core).

[2018-01-30 23:55] konrad-kruczynski commented on #39
Exactly.

[2018-02-10 12:51] #37 closed

[2018-03-18 20:03] konrad-kruczynski opened #40 "ELF: support for the note segment (not section)"

[2018-03-18 20:12] konrad-kruczynski commented on #13
OK, I investigated it a little bit. I've decided to create two separate functions for getting contents of the segment. One uses memory size property and should be used by loaders. Second one is there if you need the file contents of the section. Old function is still there but is obsolete now (it leads to the memory function for backwards compatibility but I decided to make it obsolete, because th

[2018-03-18 20:12] #13 closed

[2018-08-03 21:13] Evmaus-MS opened #43 "ELF: Support for parsing the Dynamic Section"
It'd be useful for a project I'm working on that consumes ELFSharp (BinSkim -- https://github.com/Microsoft/binskim ) if ELFSharp could parse the Dynamic section of an ELF binary--we need to check some parts of that section in order to implement a check.

If you'd like, I can put together a PR with an implementation and send it over.

[2018-08-10 16:28] konrad-kruczynski commented on #43
Parsing dynamic section could definitely see some use and PR would surely be nice to see :)

[2018-10-13 17:29] gralpli opened #45 "segment.GetMemoryContents() returns partly gibberish when Size > FileSize"
If the `FileSize` of a segment is smaller than its `Size`, the part of the data that is not in the ELF should be filled up with zeroes, I think.

**Steps to reproduce:**
1. Create an ELF file with a segment that has a `FileSize` smaller than `Size`.
2. Call `GetFileContents()` and `GetMemoryContents()` on this segment.

**Expected result:**
Let's assume the FileSize is 4 and the Size is 8. Then `G

[2018-10-25 21:05] konrad-kruczynski commented on #45
I can confirm the bug, I'll add a test and a fix it. Sorry for so late response.

[2018-10-25 21:34] #45 closed

[2018-10-25 21:39] konrad-kruczynski commented on #45
Should be fixed with 2.1.1. Please test.

[2019-01-11 03:08] motianlun1111 commented on #43
This Elfsharp is very good, but i am a freshman and if this project has a user manual that will be greater. Now i always do not know which workspace to use, and i want to load all the symbols and address of those symbols, but i do not know how to do it. the examples is too less.
by the way, can this Lib show the details of some structure symbols?
so appreciated you can share such a good thing.

[2019-01-28 21:59] konrad-kruczynski commented on #43
@motianlun1111 Please create a separate ticket to discuss that problem and describe what do you need specifically.

[2019-08-27 10:48] mikkleini opened #48 "ELFWriter"
I would need an ELFWriter to load, modify and save elf files. I'm a little bit thinking of implementing it but it only works out if the ELFWriter actually reads out everything, otherwise it's not possible to get same output. Can anybody comment the completeness of the reader? Or does anybody have some ideas about writer?

[2019-09-08 19:16] konrad-kruczynski commented on #48
Hi @mikkleini .
Since e.g. each section of the ELF file - even if not understood by the library - can have its content read in raw binary form, you can then use it to write it verbatim to the output file. So you can start with something simply rewriting all sections and segments. Having said that, it is worth noting that the currently implement model works not reading everything and having it in m

[2019-11-26 21:18] sdmaclea opened #49 "dynamicStringTable = (StringTable<T>)section throws"
The cast in the below line sometimes throws.
https://github.com/konrad-kruczynski/elfsharp/blob/48f5204ad696b25bbbdc6ea11bebc2566a32fc9e/ELFSharp/ELF/ELF.cs#L291

I worked around the issue by putting it in a try catch block.

I found the issue when trying to load `libcoreclr.so.dbg` from .NET Core SDK 3.1.100-preview2.

If you want the binary follow the install instructions from https://dotnet.mic

[2019-11-30 08:45] konrad-kruczynski commented on #49
Hi!
I'll try to look at the issue this or next weekend. Would it be possible for you to send me the binary to save some time installing .NET core preview?

[2019-12-03 08:41] FZFalzar opened #50 "Expose Header Properties"
Is there any way to access the properties of e.g Section Header like Start Address/Size like how the Section.ToString() method prints out the following:

`text: ProgBits, load @0x3A02C0, 39796240 bytes long`

So that one can access it by the following: mySection.Address, mySection.Size

Currently I am splitting this string manually and it is unwieldy.

[2019-12-03 13:07] konrad-kruczynski commented on #50
This is available, but only from specific ELF classes (not `IELF` interface that covers 32-bit and 64-bit binaries). Please look at http://elfsharp.turtleware.eu/examples.shtml#bit32 and tell me if it answers your question.

[2019-12-03 15:35] FZFalzar commented on #50
Yes it did, didn't think of opening the link at the front page since usually I'd refer to github's wiki or Readme.md for quick docs especially when dealing with plugins/libraries on different languages. Thanks! Closing issue.

[2019-12-03 15:35] #50 closed

[2019-12-03 18:39] sdmaclea commented on #49
I dropped a copy of `libcoreclr.so.dbg` in http://linux.microsoft.com/~steve.maclean/

[2019-12-05 10:11] konrad-kruczynski commented on #49
I have just tried to download it, but it results in 403.

[2019-12-05 19:08] sdmaclea commented on #49
I looked and that server won't allow serving that file. Probably binary files are being denied. I looked for other options, but nothing is easy. Apparently, I don't have a better option than fetching from the symbol server.

These are the simplest instruction I can offer.

[code]

In case it helps here is the debug info I have off hand.

When I had it open in the VS Code C# debugger it said someth

[2019-12-08 11:25] konrad-kruczynski commented on #49
Ok, I was able to get the file using your instruction, thanks. It seems that dynamic string table is effectively absent in this file, having type NoBits instead of StrTab. So as you said, it formally exists, but it's empty. I'm not sure this is actually legal according to the ELF spec, but the library has to be prepared for this. I have a fix and will soon commit it (it's tiny, actually).

I have

[2019-12-08 11:30] #49 closed

[2019-12-08 12:09] konrad-kruczynski opened #51 "Change deprecated `PackageIconUrl` to `PackageIcon`"

[2019-12-09 16:27] sdmaclea commented on #49
It is a file built by LLVM from MIT licensed code.  I see no reason you couldn't use it.

Thanks.

[2020-02-06 08:41] Anteru opened #56 "Add support for loading from a Stream"
I'm running an application which only has the ELFs in memory, but not on disk, and I cannot guarantee that I can write to disk at all. It would be super helpful if there was an `ELFReader.Load` variant which accepts a Stream instead of the filename of the string.

Additionally, this would also simplify the unit tests in this library itself instead of having to write temporary files.

[2020-02-11 21:22] konrad-kruczynski commented on #56
Hi @Anteru and thanks for the feedback. I'll probably be able to look at the case this weekend.

[2020-02-12 21:16] Anteru commented on #56
Perfect, thanks a lot :)

[2020-02-15 18:05] konrad-kruczynski commented on #56
After initial research it seems that it won't be problem, assuming the stream can seek. On the other hand, if it is not able to, one can copy the whole stream to a new memory stream which is seekable. I'll let you know once some code is there.

[2020-02-15 18:28] konrad-kruczynski opened #57 "Test project should target .NET Core only"

[2020-02-15 20:11] konrad-kruczynski commented on #57
At the same time main project should target only .NET Standard.

[2020-02-15 20:18] #56 closed

[2020-02-15 20:18] konrad-kruczynski commented on #56
It's there and should soon be available from nuget, version 2.4.0.

[2020-02-15 20:55] Anteru commented on #56
Perfect, thanks a lot! Seekable streams are totally fine for my use, and indeed, it's trivial to copy in memory if needed.

[2020-02-15 21:48] konrad-kruczynski opened #59 "Provide stream overloads for Mach-O and UImage readers."
Just as it was done for ELF. Test infrastructure can then be simplified.

[2020-02-15 21:49] konrad-kruczynski commented on #43
This can now be closed.

[2020-02-15 21:49] #43 closed

[2020-02-28 18:54] #51 closed

[2020-03-09 12:21] dnezamaev opened #60 "Sections / segments count"
Hi. Cannot find way to get number of sections and segments count. Looks like they are stored in sectionHeaderEntryCount and segmentHeaderEntryCount, but fields are private and have no getters. Is there another way to get info? If no, suggesting to add public getter to all data from global elf header =)

[2020-03-16 20:23] konrad-kruczynski opened #61 "Correct all "GithubIssueNo..." test names."

[2020-03-16 20:31] #60 closed

[2020-03-16 20:32] konrad-kruczynski commented on #60
Hi @dnezamaev,
I have just implemented and committed a small improvement. `Sections` and `Segments` properties are now of type `IReadOnlyList` instead of `IEnumerable`, so now you should be able to get sections count easily by `elf.Sections.Count`.

[2020-03-16 20:33] konrad-kruczynski commented on #60
This should soon be available on nuget as version 2.5.

[2020-03-21 18:58] #57 closed

[2020-03-28 05:58] konrad-kruczynski opened #63 "Fix versioning mess in csproj"

[2020-03-29 16:31] #63 closed

[2020-03-29 17:20] #61 closed

[2020-03-29 17:24] konrad-kruczynski opened #64 "Add the licence info for nuget package."

[2020-04-04 18:51] #59 closed

[2020-04-11 12:10] #40 closed

[2020-04-19 18:45] konrad-kruczynski opened #67 "MachO: add test for PR #66."

[2020-04-19 18:58] konrad-kruczynski opened #68 "Handle MachO fat header"
The magic is `0xCAFEBABE`.

[2020-04-20 08:01] konrad-kruczynski commented on #68
This might be helfpul: https://reverseengineering.stackexchange.com/questions/6356/what-is-a-fat-header

[2020-04-25 09:13] #67 closed

[2020-04-25 09:40] konrad-kruczynski opened #69 "Add support for the big endian MachO files"

[2020-04-25 09:44] konrad-kruczynski commented on #68
#69 has to be done first.

[2020-05-02 11:47] #69 closed

[2020-05-17 14:24] nattthebear opened #71 "Add visibility to symbols"
As documented [here](https://refspecs.linuxbase.org/elf/gabi4+/ch4.symtab.html), the byte after `info`, referenced at https://github.com/konrad-kruczynski/elfsharp/blob/master/ELFSharp/ELF/Sections/SymbolTable.cs#L44 contains information about the visibility of the symbol.  I would like to see that information exposed in the public API.

[2020-05-17 16:11] #71 closed

[2020-05-17 16:11] konrad-kruczynski commented on #71
Fixed, version 2.10 will be pushed to the nuget soon.

[2020-05-17 17:01] nattthebear commented on #71
Thank you! 😄

[2020-05-31 14:02] #68 closed

[2020-12-18 22:18] konrad-kruczynski opened #74 "Add previous releases changes in CHANGELOG.md"

[2021-03-20 21:05] eddynaka opened #75 "How to read Dwarf files?"
Hi,

I created a dummy program in c that uses the following command line:
[code]

With that, it generated the hello file + a folder called hello.dSYM.
So, with that, how can I load that and read using ELFSharp?

Thank you!

[2021-03-21 11:20] konrad-kruczynski commented on #75
Hi Eddy,
ELFSharp does not directly support reading DWARF data. You can read necessary section, but this will be all just a bunch of bytes. You can however use another library: https://github.com/csholmq/ElfParser that uses ELFSharp internally. DWARF support may be added one day, any PR in that subject would also be nice. If you need anything else, feel free to write it, otherwise I'll close the t

[2021-03-21 11:23] eddynaka commented on #75
HI @konrad-kruczynski ,

sorry for that. I thought in one thing and wrote another.

So, ELFSharp can read MACH-O, right?

Since I'm new to this, I tried to generate a file to be read by it  (ELFSharp).

Do you know where I can find some samples, like, how to compile/read the binary after creating it?

Thank you again!

[2021-03-21 11:25] konrad-kruczynski commented on #75
Oh, I see, so the question was actually more general. Due to some problem with ELFSharp's webpage examples are not easily accessible, but stay tuned since I'm planning to fix the webpage today. I'll send you a link then.

[2021-03-21 11:31] eddynaka commented on #75
yeah, my idea was:
1. how do i generate an elf binary?
2. is it something with mach-o? how does that work?

very dummy questions.
thank you again.

[2021-03-21 12:13] konrad-kruczynski commented on #75
1. The method you have chosen is correct. After executing that gcc line `hello` will be an ELF executable.
2. No, Mach-O is a binary format used in Apple's OSes (iOS, macOS etc).

[2021-03-21 12:27] eddynaka commented on #75
Hi @konrad-kruczynski ,

interesting...because i tried to load the `hello` using the ELFReader and I couldn't. Even, I tried to check if that was an ELF, it failed  as well.

Attached you can find a hello.c / hello and the dwarf (that i know ELFSharp does not read). But at least, I would expect (based on ur comments), that I would be able to read the hello

[dwarf.zip](https://github.com/konrad-kr

[2021-03-21 13:28] konrad-kruczynski commented on #75
Please try looking at the [examples](https://elfsharp.it/examples.html) on the ELFSharp's webpage (I have just uploaded the content) and check if it works for you.

[2021-03-21 22:46] konrad-kruczynski commented on #75
I have just looked at the zip file you sent some time ago and it seems you compiled the file on the macOS, is that true? In that case you indeed need to use Mach-O related classes to read it.

[2021-03-21 22:47] eddynaka commented on #75
Can I ask how to do that?

And how did you know about the macOS?

Thank you for the help and guidance.

[2021-03-21 22:51] konrad-kruczynski commented on #75
I checked that the files are Mach-O binaries, which are normally only produced on Apple's OSes (sans cross-compilation). To read one using ELFSharp you can try:
[code]

[2021-03-21 23:26] eddynaka commented on #75
interesting!

if I have a hello, is it possible to check if that was made from macOS or Ubuntu, for example?

I know that I could try both loaders, but is there a better way?

[2021-03-22 14:22] eddynaka commented on #75
Do you happen to have more examples using MachOReader?

[2021-03-22 15:04] evmaus commented on #75
@eddynaka -- Drive by comment, but -- in general, the first few bytes of a binary can be used to get to an "expected" format (as a sort of signature).

I don't recall if ELFSharp has a method for reading just those & getting back a binary type, but it wouldn't be too hard to do that.

Also, second drive by comment--since you're a current contributor on a project I used to work on:  if you're looki

[2021-03-22 15:29] eddynaka commented on #75
@evmaus , thanks for letting me know! yeah, the idea is to use ElfSharp to read mach-o and generate rules.

[2021-03-24 22:44] konrad-kruczynski commented on #75
Hi @eddynaka
Just as @evmaus has written, there is no way currently to identify a binary using one method. I considered this as non-useful since we usually we know the type in advance. If there would be any usage for that, it can be implemented, just make a separate issue.

As for checking type of the binary, on Unix systems you can use `file` utility with the binary given as a first and only para

[2021-03-26 22:01] konrad-kruczynski commented on #75
@eddynaka Is there anything else to answer within this ticket or can I close it?

[2021-03-26 22:17] eddynaka commented on #75
you can close! thank you :)

[2021-03-26 22:25] #75 closed

[2021-04-23 20:39] eddynaka opened #76 "Reading Mach-O binary"
Hi,

I have been trying to read a mach-o binary.

Looking at the tests, I got the segments, for example, and I understood how to fetch the data inside it.
But there are things that I couldn't locate:
- is it possible to retrieve the command line?
- is it safe for every segment I use GetData() and from the byte[] convert to string like below? I'm asking this because for some Segments I receive some

[2021-04-27 21:55] konrad-kruczynski commented on #76
Hi Eddy,
What do you mean by retrieving a command line? The arguments? Those are generally tied to a given execution, not to the binary per se.

As for the second question: nope, this is not safe in general. Segment can contain a lot different data, strings can only be part of it. To extract strings from a binary file, you can use `strings` program.

[2021-04-27 21:57] eddynaka commented on #76
HI @konrad-kruczynski , for an ELF binary, if we load it correctly, we can see the command line that generated the binary.
My question is: is it possible to do the same in the mach-o?

[2021-04-27 21:59] konrad-kruczynski commented on #76
Ok, *that* command line. I don't have any knowledge about that though.

[2021-05-14 17:35] konrad-kruczynski commented on #76
I'm closing the issue now, please reopen if necessary.

[2021-05-14 17:35] #76 closed

[2021-05-14 17:38] konrad-kruczynski commented on #48
Hi @mikkleini . I'm now about to close this ticket as the feature won't be implemented in the nearest future unless someone comes up with a pull request. Please reopen if necessary.

[2021-05-14 17:38] #48 closed

[2021-06-04 19:42] yongyan-gh opened #77 "Get InvalidOperationException while paring Mach-O object file"
Since in segment code it check if the name field from segment should be same as segment name field from section.

According to this [article](https://github.com/aidansteele/osx-abi-macho-file-format-reference):

The segment name can be empty and section's segment name have values if its intermediate Mach-O object file.

Here is the segment/sections information from a sample Mach-O object file with

[2021-06-04 19:58] yongyan-gh commented on #77
Created PR #78 to resolve the issue, please review.

[2021-06-12 14:02] #77 closed

[2021-11-10 22:33] konrad-kruczynski commented on #74
This is not really needed.

[2021-11-10 22:33] #74 closed

[2022-02-17 17:25] #64 closed

[2022-04-06 09:57] jerkerolofsson opened #83 "Doesn't read all notes from ARM core dump file"
Using readelf:
# readelf -n adbd_3124.core
Displaying notes found at file offset 0x00000db4 with length 0x00001b48:
  Owner                 Data size       Description
  CORE                 0x00000094       NT_PRSTATUS (prstatus structure)
  CORE                 0x0000007c       NT_PRPSINFO (prpsinfo structure)
  CORE                 0x00000080       NT_SIGINFO (siginfo_t data)
  CORE

[2022-04-07 06:02] jerkerolofsson commented on #83
I added support for this in PR#87.

The ELF coredump file contains multiple entries in a single NOTE segment. But only the first NoteData is read inside NoteSegment and exposed from the NoteName, NoteType and NoteDescription properties.

The PR loads all NoteData within the segment and adds a new property on the NoteSegment that returns a ReadOnly list of the NoteData.

I kept the NoteName/NoteTyp

[2022-04-07 14:03] konrad-kruczynski commented on #83
Great, thanks for your input and also caring about the backwards compatibility (so I don't have to change major library version). I'm not sure if I'll be able to review PR right away but will surely do it eventually.

[2022-04-11 16:29] konrad-kruczynski commented on #83
We can close it now.

[2022-10-05 14:00] karamelekrobotics opened #88 "Is it possible to get variable and structure addresses using elfsharp?"
Hi,

I'm trying to use elfsharp to read arm based elf file of renesas mcus. I could get some useful informations by following examples and explanations but I could not get variables addresses. Maybe I could not understand what should I do or what I am doing. Is there anyone for helping me? :) If you need more information I can share with you.

[2022-10-10 18:43] konrad-kruczynski commented on #88
Hi,
I'd need more details regarding your issue. What do you mean by variable addresses in elf file?

[2022-10-31 13:39] karamelekrobotics commented on #88
Hi,

I have an elf file that is compiled for a specific mcu. My software includes global variables and also structures that includes some application specific variables. I created a GUI that is able to read these variables using serial communication protocol and plot them. Now I am trying to upload my elf file to the GUI, and i want to get my variable names with their addresses so that i can reque

[2022-11-02 10:09] konrad-kruczynski commented on #88
I'm afraid not. You could get function names and their addresses quite easily, but for variables (global ones?) you would rather need to access DWARF data. You can use ElfSharp to retrieve DWARF section, but still need to write some code/use another library to interpret the data.

[2022-11-10 08:40] mocakturk opened #89 ""ELF Number of sections >= SHN_LORESERVE (0xff00)" is not implemented in library"
Hello,

Thx for this library.
I noticed an exception when reading an ELF file:
System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Parameter name: index
   at ELFSharp.ELF.ELF`1.ReadSectionHeader(Int32 index)
   at ELFSharp.ELF.ELF`1.ReadStringTable()
   at ELFSharp.ELF.ELF`1..ctor(String fileName)
   at ELFSharp.ELF.ELFReader.TryLoad(String fileName, IELF&

[2022-11-10 08:46] mocakturk commented on #89
I changed the code myself. Issue solved.
Here my modifications:
- I changed type of "sectionHeaderEntryCount" to "uint".
- Then I added below check after reading "sectionHeaderEntryCount".
[code]

[2022-11-12 10:06] konrad-kruczynski commented on #89
Thanks for the input, I'll try to implement your solution. Would it be possible for you to provide a test binary?

[2022-11-12 10:44] #89 closed

[2022-11-14 12:47] mocakturk commented on #89
Hi Konrad,

Thanks for the update. However, this solution does not work. Because you inserted (sectionHeaderEntryCount == 0) case into ReadSections method. However, exception occurs inside "ReadStringTable" method. (Reading string table also reads a section)

When I put "(sectionHeaderEntryCount == 0)" case to the end of "ReadFields" method, it works.
Just move lines 231-238 into the end of "ReadF

[2022-11-14 17:30] konrad-kruczynski commented on #89
Right. Please check version 2.15.2.

[2022-11-26 14:27] konrad-kruczynski commented on #88
I'm closing the issue now, please reopen if needed.

[2022-11-26 14:27] #88 closed